<p id="notice"><%= notice %></p>

<%= render partial: @request %>

<p>
  <strong>Part Number:</strong>
  <%= @request.partnum %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @request.explanation %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @request.conditions %>
</p>

<p>
  <strong>Reqdate:</strong>
  <%= @request.reqdate %>
</p>

<p>
  <strong>Modelsavailable:</strong>
  <%= @request.modelsavailable %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @request.mass %>
</p>

<p>
  <strong>Iterative:</strong>
  <%= @request.iterative %>
</p>

<p>
  <strong>Kpitinfo:</strong>
  <%= @request.kpitinfo %>
</p>

<p>
  <strong>Linkinfo:</strong>
  <%= @request.linkinfo %>
</p>

<p>
  <strong>Testmethod:</strong>
  <%= @request.testmethod %>
</p>

<p>
  <strong>Assigneduser:</strong>
  <%= @request.assigneduser %>
</p>

<p>
  <strong>Esttime:</strong>
  <%= @request.esttime %>
</p>

<p>
  <strong>Estcost:</strong>
  <%= @request.estcost %>
</p>

<p>
  <strong>Reportlink:</strong>
  <%= @request.reportlink %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>

<h2>Comments</h2>
<div id="comments">
  <%= render partial: @request.comments %>
</div>

<%= form_for [@request, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New comment" %><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>